
.detail-h1 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
.detail-h2 {
  text-decoration: none;
}

.detail-h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}

.detail-p {
  text-decoration: none;
}

.container {
  margin-top: 10px;
  padding: 3px;
}

.btn-dashboard {
  border-radius: 50px;
  width: 200px;
  color: rgb(231, 234, 239);
  background-color: #28587B;
  border: #28587B;
  margin-top: 20px;
  font-size: 16px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.img-profile {
  background-color: #F4F4F4;
  border: 1px solid var(--bs-border-color);
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.img-booking {
  max-width: 15%;
  height: 10%;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
}

.card-product {
  justify-content: space-between;
  // width: 600px;
  height: 100px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 0px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-decoration: none;
}

.card-product-infos {
  text-decoration: none;
}

.cards-dashboard {
  display: block;
  width: 100%;
  align-items: center;
  align-content: center;
}

a {
  color: #01041D;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}
