.card-confirmation {
  .btn-accept {
    background-color: white;
    border-color: white;
    width: 65px;
    height: 53px;
  }
  .btn-reject {
    background-color: white;
    border-color: white;
    width: 65px;
    height: 50px;
  }
}

.d-flex {
    display: inline-grid;
}
