.h3-name {
  font-size: 20px;
  text-align: left;
  padding-top: 5px;
  margin-left: 75px;
}

.card-confirmation {

  .btn-accept {
    background-color: white;
    border-color: white;
    width: 65px;
    height: 53px;

  }
  .btn-reject {
    background-color: white;
    border-color: white;
    width: 65px;
    height: 50px;

  }
}

.d-flex {
  display: grid;
}

<<<<<<< HEAD
.card-product-confirmation {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  align-content: center;
  margin-right: 250px;
  justify-content: space-between;

  img {
  width: 120px;
  object-fit: fit;
  margin-left: 0px;
  };
}
=======
// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin-top: 10px;
//   align-content: center;
//   margin-right: 250px;
// }
>>>>>>> e62331e2831540d89bd7a2580f2db2424d3b95bb
