<div class="container">
  <h1 class = "detail-h1">Your Requests</h1>
  <div class="row">
    <div class="col-3">
      <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" class="img-profile" alt="">
        <br>
        <h3 class = "detail-h3">Alexander Hipp</h3>
        <button>Edit Profile</button>
        <br>
        <button>Past Booking</button>
    </div>
    <div class="col-9">
    <div class="cards-dashboard">
    <% @rentals.each do |rental| %>
      <%= link_to surfboard_path(rental.surfboard) do %>
        <div class="card-product">
            <img src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="card-img-top" alt="...">
            <div class="card-product-infos">
                <h2 class = "detail-h2"><%= rental.surfboard.brand  %></h2>
                <p class = "detail-p"><%= rental.surfboard.price %></p>
                <p class = "detail-p"><%= rental.booking_status %></p>
            </div>
        </div>
      <% end %>
    <% end %>
    </div>
    </div>
  </div>
</div>
